server:
  name: voce
  environment: dev
  host: 0.0.0.0
  port: 7001
  grpc_port: 7002

logging:
  console: true
  level: INFO
  source: false
  file_dir: ./logs
  file_name: app.log
  max_size: 50
  max_backups: 5
  max_age: 10
  compress: false