server:
  name: voce
  environment: dev
  host: 0.0.0.0
  port: 7003
  grpc_port: 7002
  mode: gateway
  gateway_addr: 127.0.0.1:7001
  pool_size: 16

logging:
  console: true
  level: INFO
  source: false
  file_dir: ./logs
  file_name: voce.log
  max_size: 50
  max_backups: 5
  max_age: 10
  compress: false
